extends template
include template-paragraph

block body
    each paragraph in intro_text
        +p
            | #{paragraph}
    +p
        strong #{email_text}&nbsp;
        em #{email}
        br
        strong #{password_text}&nbsp;
        em #{password_text2}
    each paragraph in outro_text
        +p
            | #{paragraph}
