extends template
include template-button
include template-paragraph

block body
    +ps(intro_text)
    +p
        strong #{email_text}&nbsp;
        em #{email}
        br
        strong #{password_text}&nbsp;
        em #{password_text2}
    br
    +p
        | #{confirm_text}
        +button(confirm_link + "?code=" + code, confirm_button)
    +ps(outro_text)
